$style1:100%, 70px, #f54645;
$style2:(background: #bada55, width:100%,height:200px);

@mixin box($width, $height, $background){
    width:$width;
    height:$height;
    background-color:$background;
}

.eersteblok, .derdeblok{
    @include box($style1...)
}

.eersteblok{
    width:100%;
    height:70px;
    background-color:@f54645;
}


.container
   .eersteblok

    .tweedeblok


-----------------

@include grid(){
    //css code
}

@mixin grid(){
    @content;
}

@mixin small(){
    @media only screen and (max-width:320px){
        @content;
    }
}

MIXIN
.btn-custom-dark{
    @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
    @include button-variant(#eee, #333, #000);
}

.btn-custom{
    @include button-variant(red, white, red);
}

